/* src/index.css */
.rotate-3 {
    transform: rotate(3deg);
}

.rotate-n3 {
    transform: rotate(-3deg);
}

.feature-hover {
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.feature-hover:hover {
    transform: translateY(-5px);
    background-color: #f8fff9 !important;
}

.tracking-wider {
    letter-spacing: 0.1rem;
}

.z-index-1 {
    z-index: 1;
}

.tracking-tighter {
    letter-spacing: -0.05rem;
}

/* maximum width for text paragraphs on the abstract blob */
.max-w-sm {
    max-width: 400px;
}

.h-14 {
    height: 56px;
}

.border-2 {
    border-width: 2px !important;
}

/* center background blob SVG */
.d-inline-flex {
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
}